<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse Availible Pets</title>
    <link rel="stylesheet" href="/styles/home.css">

</head>

<body>
    <div id="body-container">
        <div id="content-wrap">
            <%- include("partials/headerOther.ejs")%>
            <div class="header2">
                <div class="image-text">
                    <h1 style="padding:100px 0">Browser Our Beautiful Pets</h1>
                </div>
            </div>
        <div class="container">
            <div class="sideMenu">
                <%- include("partials/sideMenu.ejs")%>
            </div>
            <div class="main-title">
                <h1>Let's Find You A Wonderful Pet! </h1>
            </div>
            <div class="content">
                <div class="home">
                    <div class="availablePets">
                        <ul>
                            <li>
                                <img class="image"
                                    src="https://simplysouthernpups.com/azure/southerndogclub/pups/Cream%20Mini%20Labradoodle.png?w=557&h=557&mode=crop&autorotate=1"
                                    alt="Charlie, a friendly Labrador">
                                <h3>Breed:</h3>
                                <p> Labradoodle</p><br>
                                <h3>Age:</h3>
                                <p> less than 1 year</p><br>
                                <h3>Gender:</h3>
                                <p> Male</p><br>
                                <h3>Gets along with other dogs:</h3>
                                <p> Yes</p><br>
                                <h3>Gets along with cats:</h3>
                                <p> Yes</p><br>
                                <h3>Suitable for a family with small children:</h3>
                                <p> Yes</p><br>
                                <h3>Description:</h3>
                                <p> Charlie is a playful and friendly lab with a lot of energy.</p><br>
                                <button>Interested</button>
                            </li>
                            <li>
                                <img class="image"
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRP86pgjaSvaxwfO3CPC1QF9cCZ9MozCcSm1Q&s"
                                    alt="Bella, a charming Beagle">
                                <h3>Breed:</h3>
                                <p> Beagle</p><br>
                                <h3>Age:</h3>
                                <p> 1-3 years</p><br>
                                <h3>Gender:</h3>
                                <p> Female</p><br>
                                <h3>Gets along with other dogs:</h3>
                                <p> Yes</p><br>
                                <h3>Gets along with cats:</h3>
                                <p> No</p><br>
                                <h3>Suitable for a family with small children:</h3>
                                <p> Yes</p><br>
                                <h3>Description:</h3>
                                <p> Bella loves to explore and has a curious nature, perfect for adventurous families.
                                </p><br>
                                <button>Interested</button>
                            </li>
                            <li>
                                <img class="image"
                                    src="https://images.saymedia-content.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cq_auto:eco%2Cw_1200/MTk2NzIzMTQ2NzMxMTAzMjUw/11-dogs-like-german-shepherd.png"
                                    alt="Max, a loyal German Shepherd">
                                <h3>Breed:</h3>
                                <p> German Shepherd</p><br>
                                <h3>Age:</h3>
                                <p> 3-7 years</p><br>
                                <h3>Gender:</h3>
                                <p> Male</p><br>
                                <h3>Gets along with other dogs:</h3>
                                <p> Yes</p><br>
                                <h3>Gets along with cats:</h3>
                                <p> Yes</p><br>
                                <h3>Suitable for a family with small children:</h3>
                                <p> No</p><br>
                                <h3>Description:</h3>
                                <p> Max is a loyal and protective companion, great for single-owner homes.</p><br>
                                <button>Interested</button>
                            </li>
                            <li>
                                <img class="image"
                                    src="https://basepaws.com/_next/image?url=https%3A%2F%2Fimages.ctfassets.net%2F7hqiona4456t%2F3AqxMk3QWXmsQ3zYlXjOel%2Fd7b69e9d0a06f3429939716e5719420d%2FiStock-474549678_600x600.jpg%3Fw%3D755%26h%3D755%26q%3D80&w=1920&q=75"
                                    alt="Max, a loyal German Shepherd">
                                <h3>Breed:</h3>
                                <p> Main Coon</p><br>
                                <h3>Age:</h3>
                                <p>Less than 1 years</p><br>
                                <h3>Gender:</h3>
                                <p> Male</p><br>
                                <h3>Gets along with other dogs:</h3>
                                <p> Yes</p><br>
                                <h3>Gets along with cats:</h3>
                                <p> Yes</p><br>
                                <h3>Suitable for a family with small children:</h3>
                                <p> No</p><br>
                                <h3>Description:</h3>
                                <p> Max is a loyal and protective companion, great for single-owner homes.</p><br>
                                <button>Interested</button>
                            </li>
                            <li>
                                <img class="image"
                                    src="https://qph.cf2.quoracdn.net/main-qimg-4d14453333340939f8139ef94429cc98"
                                    alt="Max, a loyal German Shepherd">
                                <h3>Breed:</h3>
                                <p> Bangles </p><br>
                                <h3>Age:</h3>
                                <p>Older than 10 Years</p><br>
                                <h3>Gender:</h3>
                                <p> Male</p><br>
                                <h3>Gets along with other dogs:</h3>
                                <p> Yes</p><br>
                                <h3>Gets along with cats:</h3>
                                <p> Yes</p><br>
                                <h3>Suitable for a family with small children:</h3>
                                <p> No</p><br>
                                <h3>Description:</h3>
                                <p> Max is a loyal and protective companion, great for single-owner homes.</p><br>
                                <button>Interested</button>
                            </li>
                            <li>
                                <img class="image"
                                    src="https://i.pinimg.com/736x/38/f9/cd/38f9cde113502f28c513e4f93223e86f.jpg"
                                    alt="Max, a loyal German Shepherd">
                                <h3>Breed:</h3>
                                <p> scottish fold</p><br>
                                <h3>Age:</h3>
                                <p> 3-7 years</p><br>
                                <h3>Gender:</h3>
                                <p> Male</p><br>
                                <h3>Gets along with other dogs:</h3>
                                <p> Yes</p><br>
                                <h3>Gets along with cats:</h3>
                                <p> Yes</p><br>
                                <h3>Suitable for a family with small children:</h3>
                                <p> Yes</p><br>
                                <h3>Description:</h3>
                                <p> Max is a loyal and protective companion, great for single-owner homes.</p><br>
                                <button>Interested</button>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("partials/footer.ejs")%>
    </div>
    <script src="../scripts/home.js"></script>
</body>

</html>