<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat care</title>
    <link rel="stylesheet" href="/styles/home.css">

</head>

<body>

    <div id="body-container">
        <div id="content-wrap">
            <%- include("partials/headerOther.ejs")%>
            <div class="header2">
                <div class="image-text">
                    <h1 style="padding:100px 0">How To Care For Your Cats: Cats 101</h1>
                </div>
            </div>
            <div class="container">
                <div class="sideMenu">
                    <%- include("partials/sideMenu.ejs")%>
                </div>

                <div class="content">
                    <div class="home">
                        <h2 style="font-size:30px;"><b>Checklist Essentials For Cats</b></h2>
                        <div class=" list-items">
                            <ul style="list-style-type:circle;">
                                <li>Food and water bowl</li>
                                <li>Cat litter box</li>
                                <li>Cat toys</li>
                                <li>Box or cat bed</li>
                                <li>Blankets</li>
                                <li>Cat treats</li>
                                <li>Cat Food</li>
                                <li>Lint roller</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-care">
                <div class="main-title">
                    <h1>Tips To Keep Your Cat Happy and Healthy</h1>
                </div>
                <div class="info">
                    <ul style="list-style: none;">
                        <li>
                            <h2>1. Bringing home a new cat</h2>
                            <p>When first bringing home a new cat it's imporant to remember that this is their worse
                                day.
                                They are scared and stressed and don't know the new environment.
                                It's important to remain patient for the first week as they need time to adapt to
                                their new home. It is strongly encouraged that you dedicate one room for a couple weeks
                                to homeing your new cat (especially if you have other pets). Once your cat has
                                gotten used to it's room then introduce it to the rest of your house. If you have other
                                pets its
                                a good idea
                                to indroduce them slowly. Keep them seperated at first and let them share
                                the same toys so they get used to each others smell. You can begin to gradually let them
                                spend time together and make sure they get along.</p>
                            <img src="https://cats.com/wp-content/uploads/2017/02/Image-3.jpg"
                                alt="owner holding cat on couch" width="500" height="400">
                        </li>

                        <li>
                            <h2>2. Provide a clean environment </h2>
                            <p>Cats need their litter boxed changed every day. Sometimes the litter box can stink,
                                to prevent this you can place their littler box in a room with a window. Some other
                                methods
                                that can work is putting baking soda in their litter box after cleaning to
                                absorb the smell. Having a clean and well maintained litter box will be good for you as
                                well as
                                the cat</p>
                            <img src="https://cdn.sanity.io/images/d075r9p6/production/4c33dce27f806682d2725c41b4b576f55fe73c10-1464x1433.jpg"
                                alt="cat standing on litter box" width="500" height="400">
                        </li>


                        <li>
                            <h2>3. Maintain a healthy diet and weigth</h2>
                            <p>Just like humans, cats can experience health issues if they
                                become overweight. And just like us, the key to a healthy
                                weight is diet and exercise. To maintain a healthy diet, talk to your vet about which
                                food is best for your cat. If your vet recommends a dry food (kibble) diet,
                                consider an automatic pet feeder to help maintain a consistent routine and portion
                                control. And when it comes to exercise, cat toys are a fun way to keep your
                                cat's mind and body active. By engaging your cat's natural predator instincts, many cat
                                toys make your cat's inner tiger happy while also keeping them slim and trim.</p>
                            <img src="https://cdn.sanity.io/images/d075r9p6/production/a8c1ddad9b4be265400e18d7aeb02f7c32a2846b-1464x1464.jpg"
                                alt="cat eating food from food bowl" width="500" height="400">
                        </li>


                        <li>
                            <h2>4. Consider spaying or neutering your cat</h2>
                            <p>Reproductive diseases can be serious, and affect both male and female cats. Spaying
                                prevents
                                uterine infections and ovarian cancers,
                                and reduces the risk of mammary tumors in female cats, while neutering prevents
                                testicular
                                cancer and some prostate problems in males.
                                Neutering also reduces a male cat's urge to roam, reducing the risk of getting lost or
                                injured away from home. And of course, spaying and neutering helps cats
                                everywhere by reducing the number of homeless cats in shelters. In general, a “fixed”
                                pet is
                                usually a healthier, happier pet, but your vet can help you decide
                                what is best for your cat.</p>
                        </li>

                        <li>
                            <h2>5. Always be aware of your cats behaviour</h2>
                            <p>Each cat has it's own personality. If you find your cat acting out of the ordanary, think
                                about
                                making
                                a vet appointment to make sure everyhing is ok. Always make necessary vet appointments
                                if
                                needed.
                                Also important to note: when cats feel sick they tend to hide away. If you have other
                                pets that
                                don't get along
                                with your new cat, either spend the necessary time and effort to sociallize them better.
                                If that
                                doesn't work then
                                maybe this cat was not the right fit.
                            </p>
                            <img src="https://cdn.sanity.io/images/d075r9p6/production/28e6a7d42132decccba68390f7079d31e2424699-1464x986.jpg"
                                alt="cat laying sidewase in carpet" width="500" height="400">
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <%- include("partials/footer.ejs")%>
    </div>
    <script src="../scripts/home.js"></script>
</body>

</html>