<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/styles/home.css">

</head>

<body>

    <div id="body-container">
        <div id="content-wrap">
            <%- include("partials/headerOther.ejs")%>
            <div class="header2">
                <div class="image-text">
                    <h1 style="padding:100px 0">Contact Us</h1>
                </div>
            </div>
            <div class="container">
                <div class="sideMenu">
                    <%- include("partials/sideMenu.ejs")%>
                </div>

                <div class="content">
                    <div id="contact">
                        <img style="mix-blend-mode: multiply;"
                            src="https://static.vecteezy.com/system/resources/previews/014/194/198/non_2x/avatar-icon-human-a-person-s-badge-social-media-profile-symbol-the-symbol-of-a-person-vector.jpg"
                            alt="Person icon" width="200">
                        <p>Jaden Wright-Maurais</p>
                        <p>Student ID 40276168</p>
                        <p>Bachelors Software Engineering</p>
                    </div>
                </div>
                <div class="info-contact">
                    <div style="text-align: center;">
                        <table>
                            <tr>
                                <td style="padding-right:180px;"><img style="mix-blend-mode: multiply;"
                                        src="https://cdn-icons-png.flaticon.com/512/6815/6815116.png" alt="Person icon"
                                        width="100">
                                    <h2>Phone Us</h2>
                                    <p>1-800-fur-ever</p>
                                </td>
                                <td style="padding-right:150px;"> <img style="mix-blend-mode: multiply;"
                                        src="https://cdn-icons-png.freepik.com/512/10400/10400895.png" alt="Person icon"
                                        width="100">
                                    <h2>Email Us</h2>
                                    <p>FurEverAdoptions@gmail.com</p>
                                </td>
                                <td><img style="mix-blend-mode: multiply;"
                                        src="https://cdn-icons-png.flaticon.com/512/3893/3893124.png" alt="Person icon"
                                        width="100">
                                    <h2>Follow Us On Social Media</h2>
                                    <p>@FurEverAdoptions!!</p>
                                </td>
                            </tr>



                        </table>
                    </div>
                </div>

            </div>

        </div>
        <%- include("partials/footer.ejs")%>
    </div>
    <script src="../scripts/home.js"></script>
</body>

</html>