<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disclaimer</title>
    <link rel="stylesheet" href="/styles/home.css">


</head>

<body>
    <div id="body-container">
        <%- include("partials/headerHome.ejs")%>
            <h1 style="margin-left: 450px; margin-top:50px; font-size: 50px;">Disclaimer</h1>

            <div class="container">
                <div class="sideMenu">
                    <%- include("partials/sideMenu.ejs")%>
                </div>
                <div class="content">
                    <div class="home">
                        <p> The information contained in this website is for general information purposes only. Any
                            information provided by clients
                            will not be sold or miseused. While we endeavour to keep the information up to date and
                            correct, we make no representations or warranties of any kind, express or
                            implied, about the completeness, accuracy, reliability, suitability or availability with
                            respect to the website or the information,
                            products, services, or related graphics contained on the website for any purpose. Any
                            reliance you place on such information is therefore strictly at your own risk.
                            In no event will we be liable for any loss or damage including without limitation, indirect
                            or consequential loss or damage, or any
                            loss or damage whatsoever arising from loss of data or profits arising out of, or in
                            connection with, the use of this website.<br><br>
                            Through this website you are able to link to other websites which are not under the control
                            of FurEver Adoptions. We have no control
                            over the nature, content and availability of those sites. The inclusion of any links does
                            not necessarily imply a recommendation or
                            endorse the views expressed within them.</p>
                    </div>
                </div>
            </div>
        </div>
        <%- include("partials/footer.ejs")%>
    </div>
    <script src="../scripts/home.js"></script>
</body>

</html>