<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create An Account</title>
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <div id="body-container">
        <div id="content-wrap">
            <%- include("partials/headerOther.ejs")%>
                <div>
                    <div class="header2">
                        <div class="image-text">
                            <h1 style="padding:100px 0">Login To Register Your Pet</h1>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="sideMenu">
                        <%- include("partials/sideMenu.ejs")%>
                    </div>
                    <div class=" main-title">
                        <h3 style="font-size:50px">Login with user name and password</h3>
                    </div>
                    <div class="content">
                        <div class="home">
                            <form action="/login" method="post">
                                <label for="username">Username: </label>
                                <input type="text" id="username" name="username"  required>
                                <br><br>
                                <label for="password" required>Password:</label>
                                <input type="password" id="password" name="password" required>
                                <br><br>
                                <button type="submit">Login</button>
                            </form>
                            <% if (typeof message !== 'undefined') { %>
                                <p><%= message %></p>
                            <% } %>
                        </div>
                    </div>
                </div>
        </div>
        <%- include("partials/footer.ejs")%>
    </div>
    <script src="../scripts/home.js"></script>
</body>

</html>